* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    display: contents;
}

ul > li {

     padding: 0;
     margin: 0; 
}

.homepage {
    text-align: center;
}

a:visited {
    text-decoration: none;
    color: white;
}

::selection {
    background: yellow;
}

#main-title {
    font-size: 50px;
    color: rebeccapurple;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 50px;
    background-color: black;
    width: 500px;
    height: auto;
    margin: 20px auto;
    border-radius: 30px;
    border: 1px solid yellow;
}

ul > li  {
    text-transform: uppercase;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    background-color: grey;
    width: 500px;
    margin: 20px auto;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid yellow;
}

a:hover {
    background-color: black;
}

.link {
    font-size: 25px;
}

.recipe-title {
    font-weight: bolder;
    color: blue;
    text-transform: uppercase;
}

.ingredients-title, .description-title, .steps-title {
    font-weight: bold;
    color: purple;
}

#recipe-description, .recipe-ingredients, .recipe-steps {
    font-size: medium;
}

.sauce-title, .noodles-title {
    color: rgb(204, 121, 243);
}

