* {
    font-family: 'Courier New', Courier, monospace;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    color:orange;
}

#main-title {
    font-size: large;
    color: red;
    font-weight: bolder;
}

.link {
    font-size: medium;
}