* {
    font-family: 'Courier New', Courier, monospace;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    color:orange;
}

::selection {
    background: yellow;
}

#main-title {
    font-size: large;
    color: red;
    font-weight: bolder;
    text-transform: uppercase;
}

.link {
    font-size: medium;
}

.recipe-title {
    font-weight: bolder;
    color: blue;
    text-transform: uppercase;
}

.ingredients-title, .description-title, .steps-title {
    font-weight: bold;
    color: purple;
}

#recipe-description, .recipe-ingredients, .recipe-steps {
    font-size: medium;
}

.sauce-title, .noodles-title {
    color: rgb(204, 121, 243);
}

